@charset "utf-8";


@media only screen and (max-width:500px) {
  /* For mobile phones: */
  #sec-1, #sec-2, #sec-3 {
    width: 100%;
  }
} 

body {
   height: 100%;
   width: 100%;
   background: linear-gradient(180deg,#763dfc  40%, #ff4554 60%);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   line-height: 1.5;
   display: block;
   margin: 0;
}

#sec-1 {
  min-height: 850px ;
}

#sec-2 {
  height: 20%;
}

#sec-3 {
  height: 40%;
}

.CON1 {
  min-width:634.3333333333333px;
  height: 40%;
}

.CON2{
  min-width: 634.3333333333333px;
  height:40%;
}

.CON3{
  min-width:634.3333333333333px;
  height:40%;
}

.CON4{
  min-width: 100%;
  height: 20%;
}

.CON5{
  
  min-width: 30%;
  height: auto;
}

.CON6{
  min-width: 30%;
  height:auto; 
}

.CON7{
  
  min-width:40%;
  height:auto;
}


.flex1{
  display: flex;
  flex-direction:row;
  
}


.flex2{
  display: flex;
  flex-direction: row;
}














.image2 {
  
  height: 4.5cm;
  width: 4.5cm;
  top: 30px;
  left: 30px;
  animation-name: beat;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
}
@keyframes beat {
	from {width: 4.5cm; height:4.5cm ;}
	to {width: 4.8cm; height:4.7cm ;}
}





a img:last-child {
    display: none;  
}
  a:hover img:last-child {
    display: block;  
}
  a:hover img:first-child {
    display: none;  
}
  
.pixelbox {
     width: 8cm;
     height:auto;
     margin-top: 5cm;
     display: block;
     
}



.press-button {
    background:     #2a93ff;
    border-radius:  17px;
    box-shadow:     3px 3px #666666;
    width:          300px;
    height:         80px;
    color:          #ffffff;
    display:        inline-block;
    text-align:     center;
    text-shadow:    1px 1px #817f7f;
    font-size:      50px;
    margin-left:    5.1cm ;
    margin-top:     9cm;
}



.container_rect {
    height: 10%;
    width: 100%;
    object-fit: cover;
    
} 
 .parallax {
  min-height: 500px;
  
  background-image: url("xtraback.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

.text1 {
  width: 400px;
  display: inline-flex;
  position: absolute;
  margin-left: 6cm;
  margin-top: 8cm;
  font-size: 30px;
  color: aliceblue;
  background-color: #763dfc;
  text-align: center;
  border-radius: 20px ;
  
}




